section.cover.has-mask .mask {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.25),hsla(0, 0%, 100%, 0.75));
  background-color: transparent;
  opacity: 1;
}

section.cover h1 .anchor span{
  font-family: 'Lobster', cursive;
  color: var(--theme-color);
}

section.cover .cover-main>p:last-child a .iconfont {
  font-size: 1em;
}

.sidebar>h1 a {
  font-family: 'Lobster', cursive;
}

/* override default text color */
body,
.anchor span,
.sidebar > h1 a,
.sidebar ul li > a {
    color: #232323;
}

/* make sidebar active item marker thicker */
.sidebar ul li.active > a {
    border-right: 4px solid;
}

/* code blocks inside block quotes should not be bolded */
.markdown-section blockquote p code {
    font-weight: normal;
}
